.font-serif {
    font-family: 'New Athena Unicode', sans-serif;
}
.font-muli {
  font-family:'Muli',sans-serif;
}
.fix-div{position:fixed; height:100%; width:100%; left:0; top:0; z-index:1;}
#wrapper{position:relative; z-index:2; margin:100% 0 0;}